:root {
  --pink: #ff3b4b;
  --orange: #ff4500;
  --dark-orange: #ff5700;
  --slight-dark-white: #e1e3de;
  --black: #000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: var(--black);
  text-align: center;
}

/* Full-page sections */
.full-page {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}



html {
  overflow-x: hidden;
  width: 100vw;
}

/* Universal box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}