/* Design Focus Section */
.design-focus-section {
    background-color: var(--orange);
    color: white;
  }
  
  .design-focus-section h1 {
    font-size: 6vw;
    width:100%;
    text-align:left;
  }
  
  .focus-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 90%;
  }
  
  .focus-card {
    width: 30%;
    text-align: center;
  }
  
  .focus-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .focus-card h2 {
    font-size: 2vw;
    margin-top: 10px;
  }
  
  .focus-card p {
    font-size: 2vw;
  }